@model LMS.Models.registration

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>registration</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mobile_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mobile_no)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.course.course_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.course.course_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.registration1.firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.registration1.firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.registration2.firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.registration2.firstname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
